.botao-baixepdf button {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #000;
  font-size: 1.1rem;
  border-radius: 50px;
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
  box-shadow: 0px 0px 10px 2px #ffffff00;
  text-align: center;
  cursor: pointer;
  width: 700px !important;
  height: 60px !important;
  transition: transform 0.3s ease;
}

.botao-baixepdf button:hover {
  transform: scale(1.025);
}

.botao-baixepdf button svg {
  margin-right: 10px;
}

.pdf-icon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.botao-text {
  flex-grow: 1;
}

.icon-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
