.contato-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contato-container .instagram-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contato-container .instagram-media {
  width: 700px !important;
}
