.contato-beneficios-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contato-beneficios-container h3 {
  align-self: start;
  align-items: left;
}

.contato-beneficios-container .instagram-media {
  width: 700px !important;
}
