#menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 998;
    margin: 0;
    padding: 0;
    width: 90px;
    height: 90px;
    background-color: white;
    border-bottom-left-radius: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    animation: not-checked-anim .2s both;
    transition: .2s;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#burguer {
    position: fixed;
    top: 30px;
    right: 30px;
    scale: 2.5;
    color: black;
    cursor: pointer;
    z-index: 999;
}