#nav {
  display: flex;
}

.container-menu {
  display: block;
  top: 0;
  right: 0;
}

#nav-links {
  display: flex;
  flex-direction: column;
}

.nav-button {
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #000;
  border: 3px solid #000;
  font-weight: 700;
  line-height: 1.1;
  text-decoration: none;
  text-transform: none;
  list-style: none;
  outline: 0;
  text-align: center;
  margin: 5px 0;
  max-width: 320px;
  width: 320px;
}

#menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 998;
  margin: 0;
  padding: 0;
  width: 90px;
  height: 90px;
  background-color: white;
  border-bottom-left-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  animation: not-checked-anim 0.2s both;
  transition: 0.2s;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#burguer {
  position: fixed;
  top: 30px;
  right: 30px;
  scale: 2.5;
  color: black;
  cursor: pointer;
  z-index: 999;
}

#arrow {
  position: fixed;
  top: 30px;
  right: 30px;
  scale: 2.5;
  color: rgb(37, 64, 137);
  cursor: pointer;
  z-index: 999;
}
