.retangulo-container {
  overflow: hidden;
}

.retangulo-container .not-expanded {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  margin: 0 10px;
}

.retangulo-container .expanded {
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.retangulo-container .not-expanded .icon {
  margin-right: 5px;
  scale: 2;
}
