#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../../../public/img/Homepage/backgrounds/home-background-img.png")
    no-repeat scroll padding-box;
  padding-top: 60px;
}

.container-home {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.home-icons-container {
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home-icons-container svg {
  margin-right: 30px;
  scale: 1.2;
}

.home-icons-container svg:last-child {
  margin-right: 0;
}

.MdEmail {
  scale: 1.4 !important;
}

.BsInstagram {
  scale: 1.1 !important;
}

.BsYoutube {
  scale: 1.4 !important;
}
