#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../../../public/img/Homepage/backgrounds/home-background-img.png")
    no-repeat scroll padding-box;
  padding-top: 60px;
}

.container-home {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
