#beneficios {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../../../public/img/beneficios/backgrounds/beneficios-background-img.png")
    no-repeat scroll padding-box;
  margin-top: -20px;
  padding-top: 100px;
}

.container-beneficios {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.beneficios-icons-container {
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.beneficios-icons-container svg {
  margin-right: 30px;
  scale: 1.2;
}

.beneficios-icons-container svg:last-child {
  margin-right: 0;
}

.MdEmail {
  scale: 1.4 !important;
}

.BsInstagram {
  scale: 1.1 !important;
}
