body {
  font-family: "open-sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #062642;
  color: #FFFFFF;
  /* background: url('../img/Homepage/backgrounds/vuit-background-img.png') no-repeat scroll padding-box;;
  background-position: top center; */
}
