.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-container .parag-container {
  margin: 0 1em;
}

.video-container h3 {
  margin-top: 6em;
  align-self: start;
  align-items: left;
}

.video-container h4 {
  color: #f0c674;
  align-self: start;
  align-items: left;
  margin-top: -1em;
}

.video-container p {
  margin-top: 3em;
}

.video-container p:last-child {
  margin-top: 0.5em;
}
