#cred {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../../../public/img/cred/backgrounds/cred-background-img.png")
    no-repeat scroll padding-box;
  background-size: contain;
  margin-top: -20px;
  padding-top: 150px;
}

.container-cred {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
}

.cred-icons-container {
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.cred-icons-container svg {
  margin-right: 30px;
  scale: 1.2;
}

.cred-icons-container svg:last-child {
  margin-right: 0;
}

.MdEmail {
  scale: 1.4 !important;
}

.BsInstagram {
  scale: 1.1 !important;
}

.contato-cred-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 700px !important;
}

.contato-cred-text-container h3,
.contato-cred-text-container h4 {
  text-align: left;
}

.contato-cred-text-container h4 {
  color: #f0c674;
}

.contato-cred-container .contato-parag-container {
  margin-left: 20px;
  margin-right: 20px;
}
