#cred {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../../../public/img/cred/backgrounds/cred-background-img.png")
    no-repeat scroll padding-box;
  margin-top: -20px;
  padding-top: 150px;
}

.container-cred {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
