.conteudo-beneficios-container {
  width: 650px;
  text-align: left;
}

.conteudo-beneficios-container .lista-com-hifens {
  list-style: none;
  padding-left: 0px;
}

.conteudo-beneficios-container .lista-com-hifens li::before {
  content: "- ";
}
